.boby{
    background-image: 

}

.titulos{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;

}

.btn{
    font-family: "lato", sans-serif;
    font-weight:  700;
    font-style: normal;
    font-size: 17px;
}