

.imputs{
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-color: rgb(221, 58, 9);
    border: none;
}

.imputs-senha{
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-color: rgb(221, 58, 9);
    border: none;
}

.button-login{
    border-style: solid;
    border-radius: 50px;

}