

.imputs{
    border-style: solid;
    text-align: center;
    border-color: rgb(221, 58, 9);
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-bottom: 20px;
}

.imputs-senha{
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-color: rgb(221, 58, 9);
    border: none;
}

.button-login{
    border-style: solid;
    border-radius: 50px;

}

.btn-primary{
    background-color: blue;
    border-color: blue;
}

.btn{
    font-family: "lato",sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 17px;
}